/*

 CHARACTER.CSS SA

 人物関連のCSSちゃんたちの集い
 割と少ない？？増えるか？？？？

*/

/*キャラクター詳細モーダル*/

/*キャラクターページ*/
.chars-main{
display:grid;
grid-template-columns:1fr;
gap:5px;
}

.chars-detail-layout{
  display:grid;
  grid-template-columns:1fr;
  gap:16px;
}

/* タブレット以上 */
@media(min-width:700px){

  .chars-main{
    grid-template-columns:1fr 1fr;
  }
  .chars-detail-layout{
    grid-template-columns:1fr 1fr;
  }
}

.character-list-name{
  font-size:17px;
  font-weight:600;
}

.character-list-series{
  margin-top:4px;
  font-size:12px;
  color:var(--color-text);
  opacity:var(--color-opacity);
}


.character-list-top{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  gap:10px;
}

.character-type-chip{

  flex-shrink:0;

  padding:2px 8px;

  border-radius:999px;

  font-size:11px;

  background:var(--color-chip);

  color:var(--text-contrast);
  opacity:var(--color-opacity);

}

