/*

COMMON.CSS

きょうつうこうもくのCSS置き場

*/


/*==========
使ってないっぽいやつ
==========*/

/*#book-title{
font-size:18px;
font-weight:600;
}


.search-area{
  position:relative;
  margin-bottom:14px;
}/*


/*カレンダーの高さ調整*/
/*.stats-block{
  margin-bottom:24px;
  clear:both;
}*/



/*==========
ページ全体
==========*/
body{
  font-family:sans-serif;
  background:#f3e9be;/*蒸し栗*/
  touch-action: pan-y;
  overflow-x:hidden;
  
  color:#74492b;
  
  /*「↑」ちゃん対策*/
  padding-bottom:80px;
  margin:10px 20px;
}

header{
  background:#fffffc;
  color:#74492b;
  padding:15px;
  font-size:20px;
}



/*==========
ヘッダー〜〜〜〜
==========*/
.app-header{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
}
.header-top{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:12px;
  
  position:relative;
  min-height:72px;
}

#page-title{
  display:block;
  position:relative;
  z-index:1;
  font-size:44px;
  font-weight:600;
  color:#917347;
  /*font-family:
  "Hiragino Maru Gothic ProN",
  "ヒラギノ丸ゴ ProN",
  sans-serif;*/
  font-family:
  "Yu Mincho",
  "游明朝",
  serif;
  /*font-family:
  "Hiragino Sans",
  sans-serif;*/
}

.app-name{
  font-size:14px;
  color:#d9cfc6;
  font-style:italic;
}
.app-watermark{
  font-size:50px;
  color:rgba(96,86,79,0.05);
  font-weight:800;
  position:absolute;
  right:24px;
  top:4px;
  z-index:0;
  font-style:italic;
  /*font-family:
  "Hiragino Maru Gothic ProN",
  "ヒラギノ丸ゴ ProN",
  sans-serif;*/
  font-family:
  "Yu Mincho",
  "游明朝",
  serif;
/*  font-family:
  "Hiragino Sans",
  sans-serif;*/
}

.header-menu-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:12px;
}

/*==========
メインメニューボタン
==========*/

.header-menu-row{
  overflow:hidden;
}

.menulist{
  display:flex;
  gap:8px;
  
  touch-action: pan-x;
  overscroll-behavior-x: contain;
  
  flex-wrap:nowrap;
  overflow-x:auto;
  overflow-y:hidden;
  padding:8px 4px 12px;
  padding-bottom:16px;
  -webkit-overflow-scrolling:touch;
}

.menulist::-webkit-scrollbar{
  display:none;
}

.menulist .btn-me{
  flex:0 0 auto;
  min-width:72px;
}
.btn-me{
border:none;
background:#f6d2bd;
font-size:12px;
color:#646364;
/*↑燻銀*/
opacity:0.85;
transition:.2s;
min-width:60px;
min-height:40px;
align-items:center;
}
.btn-me.active{
background:#f3e9be;
/*蒸栗*/
font-weight:bold;
opacity:1;
transform:translateY(-2px);
box-shadow:
  0 2px 6px rgba(0,0,0,.08);
}




/*==========
タグ、チップ型
==========*/
.select-chip{
  padding:4px 10px;
  border-radius:999px;
  border:1px solid #ead2c2;
  background:#fffffc;
  color:#60564f;
  font-size:12px;

  cursor:pointer;
  transition:.15s;
}

.select-chip:hover{
  transform:translateY(-1px);
}

.card-common{
  background:#fffffc;
  border-radius:16px;
  border:1px solid #ead2c2;
}


#page-stats{
 margin:20px;
}


.card{
  background:#fffffc;   border-radius:10px;
  padding:8px;   margin:5px 10px;
  box-shadow:0 2px 6px rgba(0,0,0,0.08);
  border:1px solid #f4a57a;
}


#loading{
  position:fixed;
  inset:0;
  background:white;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:999; 
}


/* ★これ重要 */
#loading.hidden{
  display:none;
}


/*区切り用デザインHR*/
.kugiri{
 border:1px dashed #f4a57a;
 width:100%;
}


#page-home{
  display:block;
}

#home-fixed-bar,
#home-top,
#home-main{
  width:100%;
}
#home-main.shelf-view{
  display:flex;
  flex-wrap:wrap;
  align-items:flex-end;
  gap:6px;
}
#current-page-title{
  margin-left:12px;
}


/*==========
ボタン
==========*/
button{
  display: inline-block;   padding: 5px 10px;
  border-radius: 10px;   text-decoration: none;
  color: #f4a57a;   background-color:#fffffc;
  border:1px solid #f4a57a;  font-size:13px;
}

.common-button{
  padding:8px 12px;

  border-radius:999px;
  border:1px solid #ead2c2;

  background:#fffffc;
  color:#60564f;
 
  cursor:pointer;
}

.btn-main{
  background:#7A89A8;
  color:#fffffc;

  border:none;
}/*保存，追加*/

.btn-sub{
  padding:6px 10px;
  border-radius:12px;
  border:1px solid #ead2c2;
  background:#fffffc;
  color:#60564f;
}/*編集，閉じる，キャンセル*/

.btn-danger{
  padding:6px 10px;
  border-radius:12px;
  border:1px solid #e0b0a0;
  background:#fff7f5;
  color:#9a5a4f;
}/*削除，初期化*/


/* 追加ボタン */

.add-btn{
  width:100px;
  padding:8px;
  margin:10px;
  border:1px solid #f4a57a;
  border-radius:10px;
  font-size:14px;
  margin-bottom:12px;
}



.mini-delete-btn{
  border:none;
  background:none;

  color:#f4a57a;
  font-size:12px;
}


/*==========
コンテンツ配置（主にモーダル内）
==========*/

.yohaku5{
 margin-bottom:5px;
}
.yohaku10{
 margin-bottom:10px;
}
.yohaku15{
 margin-bottom:15px;
}

.detail-row{
  font-size:14px;
  display:flex;
  align-items:center;
}

/*元：title-line*/
.flex-between{
  display: flex;
  justify-content: space-between;
  gap:3px;
}


/*元：end-btn*/
.actions-row{
  width:70%;
  display:flex;
  justify-content: space-between;
  font-size:14px;
  margin:auto;
  align-items:center;
}

/*右寄せ*/
.right-yose{
  display:flex;
  margin-left:auto;
  align-items:center;
}

/*左寄せ*/
.left-yose{
  display:flex;
  margin-right:auto;
  vertical-align:bottom;
}


/*==========
インプット
==========*/
.input-common{
  width:100%;
  height:30px;
  padding:0 8px;
  box-sizing:border-box;
  border:1px solid #efecad;
  border-radius:10px;
  background:#f5f4eb;
  font-size:13px;
  color:#646364;
}

.input-small{
  width:auto;
  min-width:140px;
}

.input-small-ex{
  width:auto;
  min-width:80px;
}

.input-maxlimit{
  width:auto;
  max-width:250px;
}

.input-title{
  width:100%;
  min-height:34px;
  padding:6px 8px;
  box-sizing:border-box;
  border:1px solid #efecad;
  border-radius:10px;
  background:#f5f4eb;
  font-size:16px;
  font-weight:600;
  color:#646364;
}

.textarea-common{
  width:100%;
  min-height:72px;
  padding:8px;
  box-sizing:border-box;
  border:1px solid #efecad;
  border-radius:10px;
  background:#f5f4eb;
  font-size:13px;
  color:#646364;
  resize:vertical;
}




/*==========
フィルターとか検索とか
==========*/


/*＝＝＝＝＝フィルターちゃん＝＝＝＝＝*/
.filter-mode button.active {
  background: #333;
  color: white;
}

/*＝＝＝＝＝絞込みの色分け＝＝＝＝＝*/
.filter-mode-btn{

  border:none;
  border-radius:999px;

  padding:4px 10px;

  font-weight:bold;

  color:white;
}

.mode-and{
  background:#4a90e2;
}

.mode-or{
  background:#53b36b;
}

.mode-not{
  background:#d9534f;
}

.mode-off{
  background:#999;
}




/*ホームのフィルター状態表示テキスト*/
.active-filter-view{
  font-size:10px;
  overflow-wrap:break-word;
}



#search{
flex:1 1 160px;
min-width:120px;
border:1px solid #f4a57a;
border-radius:10px;
font-size:13px;
background:#fffffc;
color:#333;
margin-left:10px;
}

#sort-mode, #view-mode{
display:flex;
flex-wrap:nowrap;
gap:4px;
}

#sort-mode button,
#view-mode button{
white-space:nowrap;
flex:0 0 auto;
}

#sort-mode::after,
#view-mode::after,
#color-mode::after{
content:" / ";
margin:0 4px;
color: #999;
}


#type-filter button{
  padding: 4px 10px;
  border-radius: 999px;
  border: 1px solid #ccc;
  background: #fffffc;
  cursor: pointer;
  color:#ccc
  font-size:13px;
}

#type-filter button.active{
  background: #333;
  color: #fffffc;
  font-size:13px;
}


/* 検索エリア */


#search,#series-search,
#chars-search{
  width:200px;
  box-sizing:border-box;

  padding:8px 10px;

  border-radius:10px;
  border:1px solid #f4a57a;

  font-size:16px;
  background:#fffffc;
}


.search-item{
  padding:10px 14px;
  cursor:pointer;
}

.search-item:hover{
  background:#e4e5e6;
}

/* 絞込みタグエリア整頓用 */
.filter-actions{
  display:flex;
  gap:8px;
  margin-top:10px;
  
}

.filter-actions button.active{
  background:#f4a57a;
  color:#fffffc;
  
  border:none;
}

.list-row{
  background:#fffffc;
  padding:12px;
  border-radius:10px;
  margin-bottom:8px;
}


/* toggle */

.toggle-content {
  display: none !important;
}

.toggle-content.open {
  display:flex !important;
  gap:4px;
  flex-wrap:wrap;
}

.hidden{
  display:none !important;
}

.mini-text{
  font-size:10px;
}

.usui-text{
  opacity: 0.6;
}

.label-text{
  font-size:11px;
  white-space:nowrap;
  align-items:center;
}


/*サジェストと選択済チップが並ぶ問題解消*/
.detail-series-area{
  margin-top:8px;
}

.detail-label{
  font-size:14px;
  margin-bottom:6px;
}


.white-input{
  background:#fffffc;
  border:1px dashed #a5a0a0;
}

.white-input:focus{
  outline:none;
  box-shadow:0 0 0 3px rgba(230,170,130,.25);
}