/*

SETTINGS.CSS SA
設定ページ用

*/


/*カード風設定*/
.setting-card{
  background:var(--color-card);
  border-radius:10px;
  padding:16px;
  margin-bottom:18px;
  box-shadow:
    0 2px 10px
    var(--color-shadow);
/*  min-width:600px;*/
}

.setting-card-title{
  font-size:14px;
  font-weight:bold;
  color:var(--color-text);
  margin-bottom:12px;
}

.setting-row{
  display:flex;
  justify-content:
    space-between;
  align-items:center;
  margin:12px 0;
  border-bottom:1px dashed var(--color-border);
  font-size:12px;
  padding-bottom:10px;
}

.setting-row button{
  min-width:140px;
}




/* 設定用オンオフトグル？ */
.switch{
  width:40px;
  height:22px;
  background:var(--color-bg);
  border-radius:10px;
  position:relative;
  transition:0.2s;
}

.switch::after{
  content:"";
  width:18px;
  height:18px;
  background:var(--color-card);
  border-radius:50%;
  position:absolute;
  top:2px;
  left:2px;
  transition:0.2s;
}

.switch.on{
  background:var(--color-main);
}

.switch.on::after{
  left:20px;
}

