/* =====================
   SUGGEST
    S A
   サジェスト系のCSSを集めるんだヨォ！！
   全員集合だぜヒャッハ〜〜〜〜〜〜！！
===================== */


#title-suggest{
  background:var(--color-card);
}

#search-suggest,
#series-suggest,
#chars-suggest{
  position:absolute;
  top:100%;
  left:0;
  right:0;

  background:var(--color-card);

  border-radius:10px;
  box-shadow:0 4px 12px var(--color-shadow);

  overflow:hidden;
  z-index:20;
}


.suggest-box{

  max-height:140px;
  overflow-y:auto;

  margin-top:8px;
  width:100%;

  background:var(--color-card);
  border-radius:10px;
  font-size:10px;
}



.suggest-label{

  font-size:11px;

  color:var(--color-text);

  padding:6px 8px 2px;

}



.suggest-sub{
  margin-top:2px;
  font-size:9px;
  color:var(--color-text);
}


.search-item{

  padding:8px 10px;

  cursor:pointer;

  border-bottom:
    1px solid var(--color-border-sub);

}
