/*
UIのやつ SA
*/



/* 保存通知 */
.toast{

  position:fixed;

  left:50%;
  bottom:30px;

  transform:
    translateX(-50%)
    translateY(20px);

  background:var(--color-bg);
  color:var(--color-text-contrast);

  padding:12px 18px;

  border-radius:999px;

  font-size:14px;

  opacity:0;

  transition:0.3s;

  z-index:9999;
}

.toast.show{

  opacity:1;

  transform:
    translateX(-50%)
    translateY(0);
}


/*本詳細モーダルの日付履歴*/
.toggle-history{
  font-size:11px;
  color:var(--color-text-contrast);
  cursor:pointer;
  margin-bottom:2px;
  border-radius:10px;
  background:var(--color-chip);
/*  border:1px solid #fef4f4;*/
}



/*右下の「↑」ちゃん*/
#scroll-top-btn{
  position:fixed;
  right:16px;
  bottom:calc(76px + env(safe-area-inset-bottom) + 16px);
  z-index:900;

  width:44px;
  height:44px;
  border-radius:999px;

  opacity:0.75;
}



/*ダイアログ*/
.confirm-dialog{

  width:min(420px,90vw);

}

.confirm-dialog .detail-modal-body{

  text-align:left;
  line-height:1.8;

}

/*HELP文ポップアップ*/
.help-popup{
display:none;
position:absolute;

top:40px;
right:0;
width:260px;

background:var(--color-card);
border-radius:12px;

padding:12px;
box-shadow:0 8px 20px rgba(0,0,0,.3);
z-index:999;
}

.help-popup.open{
display:block;
}


