/*
UIのやつ
*/



/* 保存通知 */
.toast{

  position:fixed;

  left:50%;
  bottom:30px;

  transform:
    translateX(-50%)
    translateY(20px);

  background:#333;
  color:#fffffc;

  padding:12px 18px;

  border-radius:999px;

  font-size:14px;

  opacity:0;

  transition:0.3s;

  z-index:9999;
}

.toast.show{

  opacity:1;

  transform:
    translateX(-50%)
    translateY(0);
}


/*本詳細モーダルの日付履歴*/
.toggle-history{
  font-size:11px;
  color:#f4a57a;
  cursor:pointer;
  margin-bottom:2px;
  border-radius:10px;
  background:#fbf6e8;
/*  border:1px solid #fef4f4;*/
}



/*右下の「↑」ちゃん*/
#scroll-top-btn{
  position:fixed;
  right:16px;
  bottom:18px;
  z-index:80;

  width:44px;
  height:44px;
  border-radius:999px;

  opacity:0.75;
}

